# Python
backend/venv/
backend/__pycache__/
*.py[cod]
*$py.class

# Node / Vue
frontend/node_modules/
frontend/dist/
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*

# OS / Editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Local documents / Presentation notes
*.pdf
PANDUAN_PRESENTASI.md
